<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Session Words</title>
</head>
<body>
    
    <form method="post" action="/process">
        {% csrf_token %}
        <input type="text" name="word" placeholder="your word">
        <input type="radio" name="color" value="red">Red<br>
        <input type="radio" name="color" value="blue">Blue<br>
        <input type="radio" name="color" value="green">Green<br>
        <input type="checkbox" name="font" value="big"> Show in BIG font.<br>
        <input type="submit" value="Add to Session">
    </form>

    <!-- {{ request.session.words }} -->

    {% for word in request.session.words %}
        {% if word.fontsize == 'big' %}
            <h1 style="color: {{word.color}};">{{word.word}} {{word.time}}</h1>
        {% else %}
            <p style="color: {{word.color}};">{{word.word}} {{word.time}}</p>
        {% endif %}
    {% endfor %}

    <a href="/reset"><button>Clear Session</button></a>
</body>
</html>